*, *:active {
	margin:0;
	padding:0;
	border:0;
}

header {
	min-height: 200px;
	background-image: url("headShot.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 30% 30%;
}

body {
    background-color: #c5bfbc;
}

main {

}

#introduction {
	text-align: center;
}


#christmasList {
	min-height: 100px;
	background-image: url("snow.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 30% 30%;
}


#forwardFitness {
	min-height: 100px;
	background-image: url("weights.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 30% 30%;
}


#resume {

}


footer{

}