*, *:active {
	margin:0;
	padding:0;
	border:0;
}

header {

}

body {
    background-color: #c5bfbc;
}

main {

}

#information {
	text-align: center;
}

#resume h2 {
	background-color: rgb(254, 192, 116);
}

#resume p {
	background-color: rgb(254, 224, 131);
}

footer{

}