*, *:active {
	margin:0;
	padding:0;
	border:0;
}

header{
    background-color: black;
    color:white;
    padding: 5% 0;
	margin: 0 auto;
	width: 100%;
	min-height: 300px;
	font-size: 1.8em;
    text-align: center;
}

img {
	display: block;
	margin-left:20%;
	margin-right:30%;
	width: 50%;
}

#skills{
    background-color: #444;
    color: white;
    text-align: center;
}

#education{
    background-color: #444;
    color: white;
    text-align: center;
}

#objective{
    background-color: #444;
    color: white;
    text-align: center;
}

#about{
    background-color: #444;
    color: white;
    text-align: center;
}

footer{
    text-align: center;
}

