*, *:active {
	margin:0;
	padding:0;
	border:0;
}

header{
    background-color: black;
    color:white;
    padding: 5% 0;
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	font-size: 1.8em;
}

img {
	display: block;
	margin-left:auto;
	margin-right: auto;
	width: 60%;
}

#skills{
    background-color: #444;
    color: white;
}

#education{
    background-color: #444;
    color: white;
}

#objective{
    background-color: #444;
    color: white;
}

#about{
    background-color: #444;
    color: white;
}

footer{

}

