/* 
body tag, 
heading 1 tag, 
heading 2 tag, 
blockquote tag, and the 
table tag
Write a CSS pseudo-class statement for the links (HINT: a:link, a:hover, a:active, a:visited)
*/



body {

}

header {

}

h1 {

}

h2 {

}

blockquote {

}

table { 

}

a:link {

}

a:hover {

}

a:active {

}

a:visited
