/* 
body tag, 
heading 1 tag, 
heading 2 tag, 
blockquote tag, and the 
table tag
Write a CSS pseudo-class statement for the links (HINT: a:link, a:hover, a:active, a:visited)
#5C3317 - Dark Brown
#804720 - Brown
#F7A26C - Tangerine
#CCAF9D - Desert Sand
#E76A1A - Spanish Orange

*/



body {
    background-color: ;
    color: ;
}

header {
    text-align: center;
}

#catNaviBar {
    margin-left: 45%;
    margin-right: 45%;
}

#favicon {
    margin-left: 0%;
    margin-right: 90%;
}

h1, h2, h3{
    color: ;
    text-align: center;
}

main {
    background-color: ;
    color: ;
}


blockquote {

}

table { 
    padding: 0%;
    margin:0%;
}

a:link {

}

a:hover {

}

a:active {

}
 
a:visited {

}


footer {
    background-color: ;
    color: ;
}


.bottomNav {
    background-color: ;
    color: ;
}
