@supports (grid-area: auto) {
	
	@media screen and (min-width: 400px) {
	
		
		#homePix {
	        display: grid;
			width: 100%;
			grid-template-columns: 30% 30% 30%;
			/* 90% screen - leaves spaces for grid-gap */
			grid-template-areas: 
				    "Money FalloutDecorations RoomNeonLights"
				    "LeverActionRifle HalloweenCostume sanTrack";
				justify-content: center;
			    grid-gap: 1% 1%;
		}
	     
		#Money{
			grid-area: Money;
		}
		
		#FalloutDecorations{
			grid-area: FalloutDecorations;
		}
		#RoomNeonLights{
			grid-area: RoomNeonLights;
		}
		
		#LeverActionRifle{
			grid-area: LeverActionRifle;
		}
		
		#HalloweenCostume{
		    grid-area: HalloweenCostume;
		}
		#sanTrack{
			grid-area: sanTrack;
		}
		
	
	
		
	}/*media ending*/
}/*End of @support*/

